/.metadata/
/01_hello_world/.settings/
/02_hello_world_eclipselink/.settings/
/03_hello_world_dependencies/.settings/
/04_hello_world_dos_providers/.settings/
/05_hello_world_no_persistence_xml/.settings/
/06_entity_lazy/.settings/
/07_equals_hashcode/.settings/
/08_equals_hashcode_2/.settings/
/09_equals_hashcode_ok/.settings/
/10_equals_hashcode_eclipselink/.settings/
/11_equals_hashcode_sintetica/.settings/
/12_equals_hashcode_natural/.settings/
/13_equals_hashcode_problemas/.settings/
/14_relaciones_lado_escritura/.settings/
/15_relaciones_recursivas_y_eager_loading/.settings/
/16_relaciones_cascade/.settings/
/17_persistence_context_gestion/.settings/
/19_spring_boot_ambito_persistence_context/.settings/
/20_spring_boot_transacciones_secuenciales/.settings/
/21_spring_boot_transacciones_anidadas/.settings/
/22_caso_estudio_rendimiento/.settings/
/23_caso_estudio_leaked/.settings/
/24_caso_estudio_leaked_solucion/.settings/
/demo/.settings/
